.selector {
    width: 300px;
    height: 30px;
    border-radius: 2px;
    position: relative;
    color: $whiteColor;
    text-align: center;
    border: 1px solid $darkGreyColor;
    background: $darkGreyColor;
    border-radius: 10px;
    box-shadow: 0 4px 30px $boxShadowColor;
    backdrop-filter: blur(5px);
    font-weight: 500;
    padding-top: 5px;
    z-index: 3;
    cursor: pointer;
    
    &::after {
        content: '';
        font: 1.5em "Consolas", monospace;
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 20%;
        padding: 0 0 -25% 0;
        margin-right: 12px;
        border-width: 8px 0 8px 8px;
        border-style: solid;
        border-color: transparent $whiteColor;
        pointer-events: none;
        transform: rotate(270deg);
        transition: all .3s ease-in-out;
    }

    &.active  {
        &::after{
            transform: rotate(90deg);
        }

        & > div {
          display: none;
        }
    } 
    &__options-list {
        margin-top: 13px;
        width: 100%;
        max-width: 440px;
        color: $whiteColor;
        text-align: center;
        padding: 10px 5px;
        border: 1px solid $darkGreyColor;;
        background: $optionBgColor;
        border-radius: 16px;
        box-shadow: 0 4px 30px $boxShadowColor;
        backdrop-filter: blur(20px);
    }

    &__option {
        padding: 3px;
        font-weight: 400;
        transition: text-decoration 4s ease-in-out;

        &:hover {
            background-color: $darkGreyColor;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}